{% extends "padre.html" %}

{% load static %}



{% block seccion %}
    <h1>Alumnos</h1>
{% endblock %}



{% block contenido %}
  <div class="container text-center">
    <div class="row row-cols-auto">
        {% for alumno in alumnos %}
          <div class="col">
            <div class="card" style="width: 18rem;">
                  {% if alumno.is_odd %}
                      <img src="{% static 'MyApp/assets/img/testimonials-1.828e0935e456.jpg' %}" class="card-img-top">
                      {% else %}
                      <img src="{% static 'MyApp/assets/img/testimonials-2.f3c0271e2279.jpg' %}" class="card-img-top">
                      {% endif %}

              <div class="card-body">
                <h5 class="card-title">{{ alumno.nombre }}</h5>
                <p class="card-text">Comision {{ alumno.comision }}</p>
                <a href="" class="btn btn-primary" style="background-color: blueviolet;">Editar</a>
                <a href="" class="btn btn-danger">Borrar</a>


              </div>
            </div>
          </div>  
        {% endfor %}
      </div>
      <div class="container text-align:center" style="
      margin-top: 10px;
      margin-bottom: 10px;
  " >
            <a href="" class="btn btn-success">Nuevo Ingreso</a>
      </div>
    </div>
    {% endblock %}