{% extends "padre.html" %}



{% block seccion %}
    <h1>Buscar Curso</h1>    
{% endblock %}


{% block contenido %}


    <main>
        

        <div class="container">
            <h2>Ingrese el curso</h2>
            <div class="row">
                <div class="col">
                    <form action="buscar" method="GET">      
                        <p>Nombre</p>
                        <input type="text" name="nombre" required>       
                
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>


    </main>
    

    
  
    

   

{% endblock %}