{% extends "padre.html" %}

{% block seccion %}
    <h1>Cursos</h1>    
{% endblock %}

{% block contenido %}
<div class="container" style="text-align: center; margin-top: 200px;">
        <table class="table table-striped table-hover">
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Comision</th>
            </tr>
            {% for curso in cursos %}
            <tr>
                <td>{{curso.id}}</td>                
                <td>{{curso.nombre}}</td>
                <td>{{curso.comision}}</td>
                <td>
                    <a href="{% url 'eliminar_curso' curso.id %}" class="btn btn-danger">BORRAR</a>
                    <a href="{% url 'editar_curso' curso.id %}" class="btn btn-info">EDITAR</a>
                </td>
            {% endfor %}
            </tr>   
        </table>
        <button>
            <a href="alta_curso" class="btn btn-primary">Nuevo Curso</a>
        </button>
    </div>
{% endblock %}