{% extends "padre.html" %}
{% load avatar_tags %}

{% block seccion %}
    <h1 style="margin-top: 0; padding-top: rem;">Editar Perfil</h1>
    
{% endblock %}


{% block contenido %}

  
    <h2>Usuario: {{usuario}} </h2>
    <form action="{% url 'editar_perfil' %}" method="POST">
        {% csrf_token %}
<table>
    {{miFormulario.as_table}}

</table>

        <input type="submit" value="Enviar">
    </form>
    {% endblock %}

    {% block contenido_2 %}
    <div class="text-center">
        <a href="{% url 'avatar_change' %}" class="btn btn-outline-primary">cambiar el avatar</a>

    </div>

    {% endblock %}
    