{% extends "padre.html" %}

{% load static %}

{% block seccion %}
    <h1>Panel de control de usuario</h1>
{% endblock %}


{% block contenido %}
<p class="h3 font-weight-normal">Bienvenid@ al sistema</p>
<p class="h2">{{ mensaje }}</p>

<div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="{{ url }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar perfil</a>
            </div>
        </div>
    </div>

<a href="{% url 'logout' %}" class="btn btn-primary">Salir</a>
    

{% endblock %}