{% extends "padre.html" %}
{% load avatar_tags %}

{% block seccion %}
<h1 style="margin-top: 0; padding-top: rem;">Panel de control de usuario</h1>
{% endblock %}


{% block contenido %}
<p class="h3 font-weight-normal">Bienvenid@ al sistema</p>
<p class="h2">{{ mensaje }}</p>

<div class="col-4">
        <div class="card" style="width: 18rem;">
            {% avatar user 200 200 %}
            <div class="card-body">
            <h5 class="card-title">Datos de perfil</h5>
            <p class="card-text">Algun comentario</p>
            <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar perfil</a>
            </div>
        </div>
    </div>

<a href="{% url 'logout' %}" class="btn btn-primary">Salir</a>
    

{% endblock %}