{% load pwa %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% progressive_web_app_meta %}
        {% load static %}
        {% load avatar_tags %}  
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'MyApp/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'MyApp/css/styles.css' %}" rel="stylesheet" />

    </head>
    <body>     
       
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a href="{% url 'home' %}" class="btn btn-outline-primary">Home</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'alumnos' %}" class="btn btn-outline-primary" >Alumnos</a>
                {% endif %}

                <a href="{% url 'profesores' %}" class="btn btn-outline-primary">Profesores</a>
                <a href="{% url 'cursos' %}" class="btn btn-outline-primary">cursos</a>

                {% if request.user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'alta_curso' %}" class="btn btn-outline-primary">Alta curso</a>

                        
                {% endif %}

                {% if not request.user.is_authenticated %}                   
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
                <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>                
                {% endif %}

                {% if request.user.is_authenticated %}
                    
                    <div>
                    <a href="{% url 'login' %}" class="text-center">
                        <img src="" alt="">
                        {% avatar user 100 100 %}
                        <p class="text-center">{{ request.user.username }} {% if request.user.is_staff %} (STAFF) {% endif %}</p>                        
                    </a>
                        <a href="{% url 'avatar_change' %}" class="text-center">Cambiar tu avatar</a>  

                    </div>
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary">Logout</a>            
                {% endif %}


            </div>
        </nav>
        <!--    -->
        <header class="masthead" style="padding-bottom: 0rem !important;">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            {% block seccion%}

                            {% endblock %}                          
                           
                        </div>
                </div>
            </div>
        </header>
        
       
        {% block contenido %}


        {% endblock %}   

        {% block contenido_2     %}


        {% endblock %}   



        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'MyApp/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

        {% if is_success %}

        <div id="registro-popup" class="notification">
            <p>{{success_message}}</p>
        </div>

        <style>
        /* Estilos del banner */
        .notification {
            display: none; /* Inicialmente oculto */
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #3abd47; /* Fondo verde para el banner de éxito */
            color: white;
            text-align: center;
            padding: 10px;
            animation: fadein 2s, fadeout 2s 4s; /* Animación de entrada y salida */
        }

        /* Animación de entrada */
        @keyframes fadein {
            from { top: -50px; opacity: 0; }
            to { top: 0; opacity: 1; }
        }

        /* Animación de salida después de 4 segundos */
        @keyframes fadeout {
            from { top: 0; opacity: 1; }
            to { top: -50px; opacity: 0; }
        }
        </style>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
        $(document).ready(function () {
            // Suponiendo que el usuario se registra correctamente y quieres mostrar el banner.
            $("#registro-popup").show();
            // Espera 4 segundos y luego oculta el banner.
            setTimeout(function () {
                $("#registro-popup").hide();
            }, 6000); // 4000 milisegundos = 4 segundos
        });

        </script>
        {% endif %}

    </body>
</html>
